[tool.black]
line-length = 88
target-version = ["py311"]

[tool.ruff]
line-length = 88
target-version = "py311"
exclude = [
  ".git",
  ".venv",
  ".floxymade",
  "migrations",
  "static",
]

[tool.ruff.lint]
select = ["E", "F", "I"]
ignore = ["E501"]
